<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>La Mascotte</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" media="screen and (max-width: 1024px)" href="/css/main.css" />
    <link rel="stylesheet" href="/css/card.css">
</head>

<body>
    <header class="center-col">
        <nav id="menu-prin" class="center-col">
            <div class="cont-burger">
                <div id="burger">
                    <span></span>
                </div>
            </div>
            <div id="cont-menu" class="center-col">
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li id="resto">
                        <a>La Brasserie <i></i></a>
                        <ul class="OFF">
                            <li><a href="/Histoire">Histoire</a></li>
                            <li><a href="/La_carte">La carte</a></li>
                        </ul>
                    </li>
                    <li><a href="/L'ecaillerie">L'écaillerie</a></li>
                    <li id="actu">
                        <a>Nos actualitées <i></i></a>
                        <ul class="OFF">
                            <li><a href="/Event">événements</a></li>
                            <li><a href="/Presse">La presse</a></li>
                        </ul>
                    </li>
                    <li><a href="/Contact">Contact</a></li>
                </ul>
            </div>
        </nav>

    </header>
    <main>
        <section>
            <h1>LA CARTE</h1>
            <header>
                <nav>
                    <ul id="card-menu">
                        <li data='ecaillerie'>
                            <p>L'écaillerie</p>
                        </li>
                        <li data='carte'>
                            <p>A la carte</p>
                        </li>
                        <li data='menu'>
                            <p>Les menus</p>
                        </li>
                        <li data='boisson'>
                            <p>Les Boissons</p>
                        </li>
                    </ul>
                </nav>
            </header>
            <article id="ecaillerie" class="center-col">
                <section id="huitres">
                    <h2 class="title-section">Les Huîtres</h2>
                    <div>
                        <div class="block-title">
                            <h3>Bassin de Marenne-Oléron</h3>
                            <p>les 6</p>
                        </div>
                        <p class="localisation">DAVID HERVE « le cabanon de l’huître » dans les marais de Saint Just</p>
                        <div class="type">
                            <p>Les Fines de Claire</p>
                            <p>- Moyennes n° 3</p>
                            <p>19.2€</p>
                        </div>
                        <p class="localisation">Maison GILLARDEAU a Bourcefranc le Chapus </p>
                        <div class="type final">
                            <p>Les Spéciales Gillardeau</p>
                            <p>- Moyennes n° 3</p>
                            <p>25,8€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Les huîtres de Bretagne</h3>
                            <p>les 6</p>
                        </div>
                        <p class="localisation">JEAN D’CANCALE (Naissain Naturel)</p>
                        <div class="type">
                            <p>Les Fines de Cancale</p>
                            <p>- Très Grosses n° 1</p>
                            <p>18.6€</p>
                        </div>
                        <div class="type">
                            <p class="casper">Les Fines de Cancale</p>
                            <p>- Moyennes n° 3</p>
                            <p>17.4€</p>
                        </div>
                        <div class="type">
                            <p class="casper">Les Fines de Cancale</p>
                            <p>- Moyennes n° 4</p>
                            <p>15.6€</p>
                        </div>
                        <div class="type final">
                            <p>Les Plates de Bretagne</p>
                            <p>- Très Gros « 00 »</p>
                            <p>33.6€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Les huîtres de Normandie</h3>
                            <p>les 6</p>
                        </div>
                        <p class="localisation">THALASSA TRADITION A BLAINVILLE (Naissain Naturel)</p>
                        <div class="type">
                            <p>Les Pleine Mer de Blainville</p>
                            <p>- Grosses n° 2</p>
                            <p>18,6€</p>
                        </div>
                        <div class="type final">
                            <p>Les Spéciales d’Isigny</p>
                            <p>- Moyennes n° 3</p>
                            <p>18,6€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Bassin de Marenne-Oléron</h3>
                            <p>les 6</p>
                        </div>
                        <p class="localisation">Les «huîtres roses et solaires» de la Maison TARBOURIECH à Marseillan</p>
                        <div class="type">
                            <p>Spéciales «Roses et Solaires»</p>
                            <p>- Grosses n° 2</p>
                            <p>33,6€</p>
                        </div>
                        <div class="type">
                            <p>La «Seven de Sète» ou «papillon rose»</p>
                            <p>- Petites n° 5</p>
                            <p>26,7€</p>
                        </div>
                        <div class="type final">
                            <p>Les Fines de Bouzigues</p>
                            <p>- Moyennes n° 3</p>
                            <p>17,4€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Les huîtres de «Bannow Baie» en Irlande</h3>
                            <p>les 6</p>
                        </div>
                        <p class="localisation">Naissains et Producteurs français sur le plus beau terroir d’Irlande</p>
                        <div class="type final">
                            <p>« l’ OSTRA REGAL » sud-est Irlande</p>
                            <p>— Moyennes n° 3</p>
                            <p>25,8€</p>
                        </div>
                    </div>
                </section>
                <section id="plateau">
                    <h2 class="title-section">Compositions</h2>
                    <div>
                        <div class="block-title">
                            <h3>à la découverte de crus d’exceptions</h3>
                            <p>87€</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Belons</p>
                            <p>n° 00</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Spéciales Tarbouriech</p>
                            <p>n° 2</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Spéciales « Ostra Regal »</p>
                            <p>n° 3</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Seven ou papillon rose</p>
                            <p class="casper">n° 3</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Huîtres de Cancale</p>
                            <p>n° 1</p>
                        </div>
                        <div class="type final">
                            <p>3</p>
                            <p>Spéciales d’Isigny</p>
                            <p>n° 3</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>le tour des parcs à huîtres</h3>
                            <p>68€</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Pleine Mer de Blainville</p>
                            <p>n° 2</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Fines de Cancale</p>
                            <p>n° 4</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Fines de Bouzigues</p>
                            <p>n° 3</p>
                        </div>
                        <div class="type final">
                            <p>6</p>
                            <p>Fines de Claire</p>
                            <p>n° 3</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>l’assiette de fruits de mer</h3>
                            <p>33€</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Fines de Cancale</p>
                            <p>n° 4</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Palourdes</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Moules</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Amandes</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Crevettes roses</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type final">
                            <p>1</p>
                            <p>Portion de bulots</p>
                            <p class="casper">n° 4</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>l’escale de la mascotte</h3>
                            <p>95€</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Fines de Cancale</p>
                            <p>n° 4</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Pleine Mer de Blainville</p>
                            <p>n° 2</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Palourdes</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Moules</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Amandes</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Crevettes roses</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de grosses crevettes grises</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de gros bigorneaux</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de bulots</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Langoustines</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type final">
                            <p>2</p>
                            <p>Demi tourteaux</p>
                            <p class="casper">n° 4</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>le plateau mascotte</h3>
                            <p>145€</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Belons</p>
                            <p>n° 00</p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Fines de Bouzigues</p>
                            <p>n° 3</p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Huîtres de Cancale</p>
                            <p>n° 1</p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Fines de Claire</p>
                            <p>n° 3</p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Pleine Mer de Blainville</p>
                            <p>n° 2</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Clams</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Praires</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Palourdes</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Moules</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Amandes</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Crevettes roses de Madagascar</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de grosses crevettes grises</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de gros bigorneaux</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de bulots</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Langoustines</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Demi tourteaux</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type final">
                            <p>1</p>
                            <p>Homard</p>
                            <p>+35€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>le royal mascotte</h3>
                            <p>185€</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Belons</p>
                            <p>n° 00</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Spéciales Tarbouriech</p>
                            <p>n° 2</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Spéciales « Ostra Regal »</p>
                            <p>n° 3</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p> Seven ou papillon rose</p>
                            <p class='casper'></p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Huîtres de Cancale</p>
                            <p>n° 1</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Spéciales d’Isigny</p>
                            <p>n° 3</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Clams</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Praires</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Palourdes</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Moules</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Amandes</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Grosses crevettes de Madagascar</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de grosses crevettes grises</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de gros bigorneaux</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de bulots</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Langoustines</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Demi tourteaux</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type final">
                            <p>1</p>
                            <p>Homard</p>
                            <p class="casper"></p>
                        </div>
                    </div>
                </section>
            </article>
            <article id="carte" class="center-col">
                <section id="entree">
                    <h2 class="title-section">Les Entrées</h2>
                    <div>
                        <div class="block-title">
                            <h3>Les Produits de notre Epicerie Fine de la Mer…</h3>
                            <p class="casper">L’en-K de caviar osciètre, blinis et crème aigre</p>
                        </div>
                        <div class="type">
                            <p>L’en-K de caviar osciètre, blinis et crème aigre</p>
                            <p class="casper">L’en-K de caviar osciètre, blinis et crème aigre</p>
                            <p>28€</p>
                        </div>
                        <div class="type">
                            <p>«L’ Assiette Nordique», crème de raifort</p>
                            <p class="casper">L’en-K de caviar osciètre, blinis et crème aigre</p>
                            <p>19€</p>
                        </div>
                        <div class="type">
                            <p>Tapas d’Anchois Desclaux à Collioure</p>
                            <p class="casper">L’en-K de caviar osciètre, blinis et crème aigre</p>
                            <p>16€</p>
                        </div>
                        <div class="type">
                            <p>«La Millésimée» 2015 «Mademoiselle Perle»</p>
                            <p class="casper">L’en-K de caviar osciètre, blinis et crème aigre</p>
                            <p>13€</p>
                        </div>
                        <div class="type">
                            <p>Rillettes de rouget barbet au piment d’Espelette</p>
                            <p class="casper">L’en-K de caviar osciètre, blinis et crème aigre</p>
                            <p>13€</p>
                        </div>
                        <div class="type final">
                            <p>Rillettes de dorade, crevettes citron vert et gingembre</p>
                            <p class="casper">L’en-K de caviar osciètre, blinis et crème aigre</p>
                            <p>13€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Les Entrées Froides</h3>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>Salade de homard bleu de Loctudy « cuisson nacré »</p>
                            <p class="casper">L’en-K de caviar osciètre</p>
                            <p>26€</p>
                        </div>
                        <div class="type">
                            <p>Macédoine à la chair de tourteau décortiqué et fines tranches de tomates collections</p>
                            <p class="casper">L’en-K de caviar osciètre</p>
                            <p>17€</p>
                        </div>
                        <div class="type">
                            <p>Compotier de queue de bœuf aux aromates et pickles de légumes du moment</p>
                            <p class="casper">L’en-K de caviar osciètre</p>
                            <p>14€</p>
                        </div>
                        <div class="type">
                            <p>Filets de maquereaux de ligne préparés et marinés aux épices et toasts melba</p>
                            <p class="casper">L’en-K de caviar osciètre</p>
                            <p>16€</p>
                        </div>
                        <div class="type">
                            <p>Saumon bio en carpaccio à l’huile d’olive et citron de Sorrente</p>
                            <p class="casper">L’en-K de caviar osciètre</p>
                            <p>16€</p>
                        </div>
                        <div class="type final">
                            <p>Consommé de petits pois français « rafraîchi » et mozzarella burrata croustillante</p>
                            <p class="casper">L’en-K de caviar osciètre</p>
                            <p>14€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Les Entrées Chaudes</h3>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>Vol au vent de moules AOP du Mont Saint Michel aux morilles</p>
                            <p class="casper">Vol au vent de moules AOP du Mont Saint Michel aux morilles</p>
                            <p>22€</p>
                        </div>
                        <div class="type">
                            <p>Pissaladière aux oignons doux et filets d’anchois Desclaux à Collioure</p>
                            <p class="casper">Pissaladière aux oignons doux et filets d’anchois Desclaux à Collioure</p>
                            <p>19€</p>
                        </div>
                        <div class="type">
                            <p>Œufs cocotte bio à la crème fraîche d’Isigny, chiffonnade d’Iberico Bellota</p>
                            <p class="casper">Œufs cocotte bio à la crème fraîche d’Isigny, chiffonnade d’Iberico Bellota</p>
                            <p>15€</p>
                        </div>
                        <div class="type">
                            <p>Friture d’éperlans et sauce tartare</p>
                            <p class="casper">Friture d’éperlans et sauce tartare</p>
                            <p>15€</p>
                        </div>
                        <div class="type">
                            <p>6 gros escargots de Bourgogne en persillade</p>
                            <p class='casper'>gros escargots de Bourgogne en persillade</p>
                            <p>12€</p>
                        </div>
                        <div class="type">
                            <p>12 gros escargots de Bourgogne en persillade</p>
                            <p class="casper">gros escargots de Bourgogne en persillade</p>
                            <p>19€</p>
                        </div>
                        <div class="type final">
                            <p>La soupe de poissons de roche de Bretagne, sa rouille et ses croûtons à l’ail</p>
                            <p class="casper">La soupe de poissons de roche de Bretagne, sa rouille et ses croûtons à l’ail</p>
                            <p>16€</p>
                        </div>
                    </div>
                </section>
                <section id="plat">
                    <h2 class="title-section">Les Plats</h2>
                    <div>
                        <div class="block-title">
                            <h3>Les Poissons de mer, tous sauvages et de petits bateaux bretons</h3>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>Tranche d’espadon grillé et mariné à la sauce yakitori, légumes kinpira</p>
                            <p class="casper"></p>
                            <p>34€</p>
                        </div>
                        <div class="type">
                            <p>Le traditionnel «Aïoli de cabillaud»</p>
                            <p class="casper"></p>
                            <p>34€</p>
                        </div>
                        <div class="type">
                            <p>Saint Pierre entier de petits bateaux bretons grillé, salicornes et pommes grenailles de Noirmoutier, béarnaise aux algues</p>
                            <p class="casper"></p>
                            <p>36€</p>
                        </div>
                        <div class="type">
                            <p>Fish and chips, vinaigre de malt et sauce tartare, frites maison</p>
                            <p class="casper"></p>
                            <p>28€</p>
                        </div>
                        <div class="type">
                            <p>Belle sole de Bretagne en meunière et purée à l’ancienne</p>
                            <p class="casper"></p>
                            <p>44€</p>
                        </div>
                        <div class="type final">
                            <p>Le « litre » de moules à la Normande et frites maison</p>
                            <p class="casper"></p>
                            <p>25€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Les viandes en provenance des régions françaises et de la C.E.E.</h3>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>Travers de porc de nos montagnes fondant à la sauce aigre douce et banane plantain en deux textures</p>
                            <p class="casper"></p>
                            <p>29€</p>
                        </div>
                        <div class="type">
                            <p>Agneau de pays cuisiné en navarin aux légumes primeurs</p>
                            <p class="casper"></p>
                            <p>33€</p>
                        </div>
                        <div class="type">
                            <p>Blanc de volaille jaune « Parmigiana », pennettes aux sucs de tomates cuisinées</p>
                            <p class="casper"></p>
                            <p>31€</p>
                        </div>
                        <div class="type">
                            <p>Belle tranche de foie de veau français cuit à la plancha, beurre maître d’hôtel et pommes purée</p>
                            <p class="casper"></p>
                            <p>34€</p>
                        </div>
                        <div class="type">
                            <p>Onglet de bœuf charolais mariné et grillé au tamarin, coriandre fraîche, oignons frits et frites maison</p>
                            <p class="casper"></p>
                            <p>32€</p>
                        </div>
                        <div class="type">
                            <p>Tartare de bœuf d’Aubrac «haché minute», frites maison ou salades mêlées</p>
                            <p class="casper"></p>
                            <p>28€</p>
                        </div>
                        <div class="type">
                            <p>L’ assiette d’aligot ou de légumes de saison</p>
                            <p class="casper"></p>
                            <p>12€</p>
                        </div>
                        <div class="type final">
                            <p>Changement de garniture aligot ou légumes de saison</p>
                            <p class="casper"></p>
                            <p>7€</p>
                        </div>
                        <div>
                            <div class="block-title">
                                <h3>Salade et Club Sandwichs</h3>
                                <p class="casper"></p>
                            </div>
                            <div class="type">
                                <p>Grande salade Caesar à notre façon :</p>
                                <p class="casper"></p>
                                <p>21€</p>
                            </div>
                            <div class="type">
                                <p class="casper"></p>
                                <p>Romaine, copeaux de parmesan, œufs de caille, tomates cerises,</p>
                                <p class="casper"></p>
                            </div>
                            <div class="type">
                                <p class="casper"></p>
                                <p>poulet croustillant, sauce Caesar, croûtons</p>
                                <p class="casper"></p>
                            </div>
                            <div class="type">
                                <p>Clubs sandwichs :</p>
                                <p class="casper"></p>
                                <p>21€</p>
                            </div>
                            <div class="type">
                                <p class="casper"></p>
                                <p>au poulet : romaine, coeur de boeuf, oeuf dur, oignons frits, sauce cocktail, frites</p>
                                <p class="casper"></p>
                            </div>
                            <div class="type final">
                                <p class="casper"></p>
                                <p>au saumon : romaine, coeur de boeuf, oeuf dur, coriandre, sauce cocktail, frites</p>
                                <p class="casper"></p>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="fromage et dessert">
                    <h2 class="title-section">Fromages et desserts</h2>
                    <div>
                        <div class="block-title">
                            <h3>Les fromages</h3>
                            <p class="casper">20</p>
                        </div>
                        <div class="type">
                            <p>Caillé de chèvre frais de la « Fromagerie du Tertre » à Fougeré en Anjou façon salée : échalotes et fines herbes</p>
                            <p class="casper">Caillé de chèvre frais de la « Fromagerie du Tertre » à Fougeré en Anjou façon salée : échalotes et fines herbes</p>
                            <p>10€</p>
                        </div>
                        <div class="type">
                            <p>Camembert au lait cru</p>
                            <p class="casper">Camembert au lait cru</p>
                            <p>9€</p>
                        </div>
                        <div class="type">
                            <p>Cantal ou Saint Nectaire fermier ou Fourme d’Ambert, etc.</p>
                            <p class="casper">Cantal ou Saint Nectaire fermier ou Fourme d’Ambert, etc.</p>
                            <p>10€</p>
                        </div>
                        <div class="type">
                            <p>Plateau de fromages</p>
                            <p class="casper">Plateau de fromages</p>
                            <p>16€</p>
                        </div>
                        <div class="type">
                            <p>Salade mixte</p>
                            <p class="casper">Salade mixte</p>
                            <p>12€</p>
                        </div>
                        <div class="type final">
                            <p>Salade verte</p>
                            <p class="casper">Salade verte</p>
                            <p>9€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Les desserts «Maison»</h3>
                            <p class="casper">Les desserts « Maison »</p>
                        </div>
                        <div class="type">
                            <p>Caillé de chèvre frais de la « Fromagerie du Tertre » à Fougeré en Anjou façon sucrée : coulis de fruits rouges ou miel</p>
                            <p class="casper">Caillé de chèvre frais de la « Fromagerie du Tertre » à Fougeré en Anjou façon sucrée : coulis de fruits rouges ou miel</p>
                            <p>10€</p>
                        </div>
                        <div class="type">
                            <p>Tartelette aux fraises, crémeux fruits rouges et pâte sablée à la vanille</p>
                            <p class="casper">Tartelette aux fraises, crémeux fruits rouges et pâte sablée à la vanille</p>
                            <p>14€</p>
                        </div>
                        <div class="type">
                            <p>Verrine exotique : minestrone de fruits frais, espuma mangue-passion</p>
                            <p class="casper">Verrine exotique : minestrone de fruits frais, espuma mangue-passion</p>
                            <p>15€</p>
                        </div>
                        <div class="type">
                            <p>Crème grand-mère au chocolat caramélisée à la cassonade</p>
                            <p class="casper">Crème grand-mère au chocolat caramélisée à la cassonade</p>
                            <p>14€</p>
                        </div>
                        <div class="type">
                            <p>Arlette aux framboises fraîches et mousse mascarpone</p>
                            <p class="casper">Arlette aux framboises fraîches et mousse mascarpone</p>
                            <p>15€</p>
                        </div>
                        <div class="type">
                            <p>Soupe de pêches à la citronnelle et son sorbet de la maison Berthillon</p>
                            <p class="casper">Soupe de pêches à la citronnelle et son sorbet de la maison Berthillon</p>
                            <p>14€</p>
                        </div>
                        <div class="type final">
                            <p>Le café gourmand de La Mascotte</p>
                            <p class="casper">Le café gourmand de La Mascotte</p>
                            <p>14€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Glaces et sorbets Berthillon</h3>
                            <p class="casper">Glaces et sorbets Berthillon</p>
                        </div>
                        <div class="type">
                            <p>La coupe trois parfums</p>
                            <p class="casper">La coupe trois parfums</p>
                            <p>15€</p>
                        </div>
                        <div class="type">
                            <p>La palette de Montmartre 4 parfums au choix, coulis de fruits rouges ou chocolat chaud, chantilly</p>
                            <p class="casper">La palette de Montmartre 4 parfums au choix, coulis de fruits rouges ou chocolat chaud, chantilly</p>
                            <p>18€</p>
                        </div>
                        <div class="type">
                            <p>Le sorbet poire et son verre d’alcool de poire</p>
                            <p class="casper">Le sorbet poire et son verre d’alcool de poire</p>
                            <p>16€</p>
                        </div>
                        <div class="type">
                            <p>Le sorbet pomme verte et son verre de Calvados</p>
                            <p class="casper">Le sorbet pomme verte et son verre de Calvados</p>
                            <p>16€</p>
                        </div>
                        <div class="type final">
                            <p>Le sorbet cassis et son verre de crème de cassis</p>
                            <p class="casper">Le sorbet cassis et son verre de crème de cassis</p>
                            <p>16€</p>
                        </div>
                    </div>
                </section>
            </article>
            <article id="menu" class="center-col">
                <section id="dispo">
                    <h2 class="title-section">les disponibilité des menus</h2>
                    <div>
                        <div class="block-title">
                            <h3>entrée</h3>
                            <p class="casper">49€</p>
                        </div>
                        <div class="type">
                            <p>Saumon bio en carpaccio à l’huile d’olive et citron de Sorrente, algues bretonnes filtrées à l’eau de mer</p>
                        </div>
                        <div class="type">
                            <p>Compotier de queue de bœuf aux aromates et pickles de légumes du moment</p>
                        </div>
                        <div class="type">
                            <p>Consommé de petits pois français «rafraîchi» et mozzarella burrata croustillante</p>
                        </div>
                        <div class="type">
                            <p>Œufs cocotte bio à la crème fraîche d’Isigny, chiffonnade de Pata Negra et mouillettes toastées</p>
                        </div>
                        <div class="type">
                            <p>Friture d’éperlans et sauce tartare</p>
                        </div>
                        <div class="type">
                            <p>Les six gros escargots de Bourgogne en persillade</p>
                        </div>
                        <div class="type">
                            <p>La soupe de poissons de roche de Bretagne, sa rouille et ses croûtons à l’ail</p>
                        </div>
                        <div class="type final">
                            <p>Entrée du jour</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Plats</h3>
                            <p class="casper">plat</p>
                        </div>
                        <div class="type">
                            <p>Travers de porc de nos montagnes fondant à la sauce aigre douce et banane plantain en deux textures</p>
                        </div>
                        <div class="type">
                            <p>Fish and chips, vinaigre de malt et sauce tartare, frites au couteau</p>
                        </div>
                        <div class="type">
                            <p>Agneau de pays cuisiné en navarin aux légumes primeurs</p>
                        </div>
                        <div class="type">
                            <p>Blanc de volaille jaune «Parmigiana», pennettes aux sucs de tomates cuisinées</p>
                        </div>
                        <div class="type">
                            <p>Le «litre» de moules à la Normande et frites au couteau</p>
                        </div>
                        <div class="type">
                            <p>Tartare de bœuf d’Aubrac «haché minute», frites au couteau ou salades mélangées</p>
                        </div>
                        <div class="type final">
                            <p>Plat du jour</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Fromage et dessert</h3>
                            <p class="casper">Fromage et dessert</p>
                        </div>
                        <div class="type">
                            <p>Un fromage au choix sur le plateau</p>
                        </div>
                        <div class="type">
                            <p>Caillé de chèvre artisanal de la fromagerie du Tertre en Anjou :</p>
                        </div>
                        <div class="type">
                            <p class="casper"></p>
                            <p>façon salée Échalotes ou fines herbes fraîches</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p class="casper"></p>
                            <p>façon sucrée Coulis de fruits rouges ou miel</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>Crème grand-mère au chocolat caramélisée à la cassonade</p>
                        </div>
                        <div class="type">
                            <p>Soupe de pêches à la citronnelle et son sorbet de la maison Berthillon</p>
                        </div>
                        <div class="type">
                            <p>Dessert du jour</p>
                        </div>
                    </div>
                </section>
                <section id="menu1">
                    <h2 class="title-section">Le Menu «Mascotte»</h2>
                    <div>
                        <div class="block-title">
                            <h3> Une entrée, un plat et un dessert</h3>
                            <p>49€</p>
                        </div>
                    </div>
                </section>
                <section id="menu2">
                    <h2 class="title-section">Le Menu «Cocotte»</h2>
                    <div>
                        <div class="block-title">
                            <h3> Une entrée et un plat ou un plat et un dessert</h3>
                            <p>32€</p>
                        </div>
                        <p class="localisation">Servi uniquement le midi en semaine, jamais les jours fériés</p>
                        <p class="localisation">Un 25 cl de vin ou une 1/2 d’eau</p>
                    </div>
                </section>
                <section id="menu3">
                    <h2 class="title-section">Le Menu «Marmotte»</h2>
                    <div>
                        <div class="block-title">
                            <h3>Menu enfant</h3>
                            <p>22€</p>
                        </div>
                        <p class="localisation">Plat</p>
                        <div class="type">
                            <p>Fish and chips à la sauce tartare, frites maison</p>
                        </div>
                        <div class="type">
                            <p>Nuggets de poulet maison, frites</p>
                        </div>
                        <p class="localisation">Dessert</p>
                        <div class="type">
                            <p>Boule de glace de la «Maison Berthillon»</p>
                        </div>
                        <div class="type">
                            <p> Crème grand-mère au chocolat caramélisée à la cassonade</p>
                        </div>
                        <p class="localisation">Boissons</p>
                        <div class="type">
                            <p>Un jus d’orange</p>
                        </div>
                        <div class="type">
                            <p>Un coca</p>
                        </div>
                    </div>
                </section>
            </article>
            <article id="boisson" class="center-col">
                <section id="blanc sec">
                    <h2 class="title-section">Blanc sec</h2>
                    <div>
                        <div class="block-title">
                            <h3>Auvergne, Aveyron, Cantal</h3>
                            <div class="drink-size">
                                <p>14 cl</p>
                                <p>25 cl</p>
                                <p>75 cl</p>
                            </div>
                        </div>
                        <div class="type">
                            <p>Vin de Pays du Cantal 2014</p>
                            <p>Domaine Les Pailhas, Gilles Monnier à Molompize</p>
                            <p class="casper">38€</p>
                            <p class="casper">38€</p>
                            <p>38€</p>
                        </div>
                        <div class="type final">
                            <p>Vin de Pays de l’Aveyron 2015</p>
                            <p>Domaine Nicolas Carmarans « Selves » à Campouriez</p>
                            <p class="casper">38€</p>
                            <p class="casper">38€</p>
                            <p>38€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Alsace</h3>
                            <div class="drink-size">
                                <p>14 cl</p>
                                <p>25 cl</p>
                                <p>75 cl</p>
                            </div>
                        </div>
                        <div class="type">
                            <p>Sylvaner Vieilles Vignes 2015</p>
                            <p>Domaine Henry Fuchs à Ribeauvillé</p>
                            <div class="type2">
                                <p>6€</p>
                                <p>10,5€</p>
                                <p>27€</p>
                            </div>
                        </div>
                        <div class="type">
                            <p>Riesling 2015</p>
                            <p>Domaine Henry Fuchs à Ribeauvillé, «L’Equinox»</p>
                            <div class="type2">
                                <p class='casper'>31€</p>
                                <p class='casper'>31€</p>
                                <p>31€</p>
                            </div>
                        </div>
                        <div class="type">
                            <p>Riesling Grand Cru Kirchberg 2014</p>
                            <p>Domaine Henry Fuchs à Ribeauvillé</p>
                            <div class="type2">
                                <p class='casper'>45€</p>
                                <p class='casper'>45€</p>
                                <p>45€</p>
                            </div>
                        </div>
                        <div class="type">
                            <p>Riesling 2013</p>
                            <p>Domaine Trimbach à Ribeauvillé</p>
                            <div class="type2">
                                <p>8,5€</p>
                                <p>14,5€</p>
                                <p>37,5€</p>
                            </div>
                        </div>
                        <div class="type">
                            <p>Riesling 2009</p>
                            <p>Domaine Trimbach, cuvée Frédéric Emile à Ribeauvillé</p>
                            <div class="type2">
                                <p class='casper'>95€</p>
                                <p class='casper'>95€</p>
                                <p>95€</p>
                            </div>
                        </div>
                        <div class="type">
                            <p>Pinot Gris 2014</p>
                            <p>Domaine Léon Beyer</p>
                            <div class="type2">
                                <p class='casper'>36€</p>
                                <p class='casper'>36€</p>
                                <p>36€</p>
                            </div>
                        </div>
                        <div class="type">
                            <p>Pinot Blanc 2015</p>
                            <p>Domaine Ostertag</p>
                            <div class="type2">
                                <p class='casper'>32€</p>
                                <p class='casper'>32€</p>
                                <p>32€</p>
                            </div>
                        </div>
                        <div class="type final">
                            <p>Gewurztraminer 2015</p>
                            <p>Domaine Ostertag</p>
                            <div class="type2">
                                <p class='casper'>44€</p>
                                <p class='casper'>44€</p>
                                <p>44€</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3></h3>
                            <p></p>
                            <p></p>
                            <p></p>
                        </div>
                    </div>
                </section>
            </article>
        </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="/js/basic.js"></script>-->
    <script src="/js/card.js"></script>
</body>
