<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>La Mascotte</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" media="screen and (max-width: 1024px)" href="/css/main.css" />
    <link rel="stylesheet" href="/css/card.css">
</head>

<body>
    <header>
        <nav>
            <div class="cont-burger">
                <div id="burger">
                    <span></span>
                </div>
            </div>
            <div id="cont-menu">
                <ul>
                    <li><a href="http://localhost:1337/">Accueil</a></li>
                    <li id="resto">
                        <a href="http://localhost:1337/">La Brasserie <i></i></a>
                        <ul class="OFF">
                            <li><a href="">Histoire</a></li>
                            <li><a href="/La_carte">La carte</a></li>
                        </ul>
                    </li>
                    <li><a href="">L'écaillerie</a></li>
                    <li id="actu">
                        <a href="">Nos actualitées <i></i></a>
                        <ul class="OFF">
                            <li><a href="">événements</a></li>
                            <li><a href="">La presse</a></li>
                        </ul>
                    </li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </nav>
        <h1>LA CARTE</h1>
    </header>
    <main>
        <section>
            <header>
                <div class="center-col">
                    <ul id="card-menu">
                        <li data='ecaillerie'>
                            <p>L'écaillerie</p>
                        </li>
                        <li data='carte'>
                            <p>A la carte</p>
                        </li>
                        <li data=''>
                            <p>Les menus</p>
                        </li>
                        <li data=''>
                            <p>Les Boissons</p>
                        </li>
                    </ul>
                </div>
            </header>
            <article id="ecaillerie" class="center-col">
                <section id="huitres">
                    <h2 class="title-section">Les Huîtres</h2>
                    <div>
                        <div class="block-title">
                            <h3>Bassin de Marenne-Oléron</h3>
                            <p>les 6</p>
                        </div>
                        <p class="localisation">DAVID HERVE « le cabanon de l’huître » dans les marais de Saint Just</p>
                        <div class="type">
                            <p>Les Fines de Claire</p>
                            <p>- Moyennes n° 3</p>
                            <p>19.2€</p>
                        </div>
                        <p class="localisation">Maison GILLARDEAU a Bourcefranc le Chapus </p>
                        <div class="type final">
                            <p>Les Spéciales Gillardeau</p>
                            <p>- Moyennes n° 3</p>
                            <p>25,8€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Les huîtres de Bretagne</h3>
                            <p>les 6</p>
                        </div>
                        <p class="localisation">JEAN D’CANCALE (Naissain Naturel)</p>
                        <div class="type">
                            <p>Les Fines de Cancale</p>
                            <p>- Très Grosses n° 1</p>
                            <p>18.6€</p>
                        </div>
                        <div class="type">
                            <p class="casper">Les Fines de Cancale</p>
                            <p>- Moyennes n° 3</p>
                            <p>17.4€</p>
                        </div>
                        <div class="type">
                            <p class="casper">Les Fines de Cancale</p>
                            <p>- Moyennes n° 4</p>
                            <p>15.6€</p>
                        </div>
                        <div class="type final">
                            <p>Les Plates de Bretagne</p>
                            <p>- Très Gros « 00 »</p>
                            <p>33.6€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Les huîtres de Normandie</h3>
                            <p>les 6</p>
                        </div>
                        <p class="localisation">THALASSA TRADITION A BLAINVILLE (Naissain Naturel)</p>
                        <div class="type">
                            <p>Les Pleine Mer de Blainville</p>
                            <p>- Grosses n° 2</p>
                            <p>18,6€</p>
                        </div>
                        <div class="type final">
                            <p>Les Spéciales d’Isigny</p>
                            <p>- Moyennes n° 3</p>
                            <p>18,6€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Bassin de Marenne-Oléron</h3>
                            <p>les 6</p>
                        </div>
                        <p class="localisation">Les «huîtres roses et solaires» de la Maison TARBOURIECH à Marseillan</p>
                        <div class="type">
                            <p>Spéciales «Roses et Solaires»</p>
                            <p>- Grosses n° 2</p>
                            <p>33,6€</p>
                        </div>
                        <div class="type">
                            <p>La «Seven de Sète» ou «papillon rose»</p>
                            <p>- Petites n° 5</p>
                            <p>26,7€</p>
                        </div>
                        <div class="type final">
                            <p>Les Fines de Bouzigues</p>
                            <p>- Moyennes n° 3</p>
                            <p>17,4€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Les huîtres de «Bannow Baie» en Irlande</h3>
                            <p>les 6</p>
                        </div>
                        <p class="localisation">Naissains et Producteurs français sur le plus beau terroir d’Irlande</p>
                        <div class="type final">
                            <p>« l’ OSTRA REGAL » sud-est Irlande</p>
                            <p>— Moyennes n° 3</p>
                            <p>25,8€</p>
                        </div>
                    </div>
                </section>
                <section id="plateau">
                    <h2 class="title-section">Compositions</h2>
                    <div>
                        <div class="block-title">
                            <h3>à la découverte de crus d’exceptions</h3>
                            <p>87€</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Belons</p>
                            <p>n° 00</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Spéciales Tarbouriech</p>
                            <p>n° 2</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Spéciales « Ostra Regal »</p>
                            <p>n° 3</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Seven ou papillon rose</p>
                            <p class="casper">n° 3</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Huîtres de Cancale</p>
                            <p>n° 1</p>
                        </div>
                        <div class="type final">
                            <p>3</p>
                            <p>Spéciales d’Isigny</p>
                            <p>n° 3</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>le tour des parcs à huîtres</h3>
                            <p>68€</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Pleine Mer de Blainville</p>
                            <p>n° 2</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Fines de Cancale</p>
                            <p>n° 4</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Fines de Bouzigues</p>
                            <p>n° 3</p>
                        </div>
                        <div class="type final">
                            <p>6</p>
                            <p>Fines de Claire</p>
                            <p>n° 3</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>l’assiette de fruits de mer</h3>
                            <p>33€</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Fines de Cancale</p>
                            <p>n° 4</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Palourdes</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Moules</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Amandes</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Crevettes roses</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type final">
                            <p>1</p>
                            <p>Portion de bulots</p>
                            <p class="casper">n° 4</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>l’escale de la mascotte</h3>
                            <p>95€</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Fines de Cancale</p>
                            <p>n° 4</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Pleine Mer de Blainville</p>
                            <p>n° 2</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Palourdes</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Moules</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Amandes</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Crevettes roses</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de grosses crevettes grises</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de gros bigorneaux</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de bulots</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Langoustines</p>
                            <p class="casper">n° 4</p>
                        </div>
                        <div class="type final">
                            <p>2</p>
                            <p>Demi tourteaux</p>
                            <p class="casper">n° 4</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>le plateau mascotte</h3>
                            <p>145€</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Belons</p>
                            <p>n° 00</p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Fines de Bouzigues</p>
                            <p>n° 3</p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Huîtres de Cancale</p>
                            <p>n° 1</p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Fines de Claire</p>
                            <p>n° 3</p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Pleine Mer de Blainville</p>
                            <p>n° 2</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Clams</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Praires</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Palourdes</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Moules</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Amandes</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Crevettes roses de Madagascar</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de grosses crevettes grises</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de gros bigorneaux</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de bulots</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Langoustines</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Demi tourteaux</p>
                            <p class="casper">n° 00</p>
                        </div>
                        <div class="type final">
                            <p>1</p>
                            <p>Homard</p>
                            <p>+35€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>le royal mascotte</h3>
                            <p>185€</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Belons</p>
                            <p>n° 00</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Spéciales Tarbouriech</p>
                            <p>n° 2</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Spéciales « Ostra Regal »</p>
                            <p>n° 3</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p> Seven ou papillon rose</p>
                            <p class='casper'></p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Huîtres de Cancale</p>
                            <p>n° 1</p>
                        </div>
                        <div class="type">
                            <p>3</p>
                            <p>Spéciales d’Isigny</p>
                            <p>n° 3</p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Clams</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Praires</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Palourdes</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Moules</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Amandes</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>6</p>
                            <p>Grosses crevettes de Madagascar</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de grosses crevettes grises</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de gros bigorneaux</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>1</p>
                            <p>Portion de bulots</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>4</p>
                            <p>Langoustines</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>2</p>
                            <p>Demi tourteaux</p>
                            <p class="casper"></p>
                        </div>
                        <div class="type final">
                            <p>1</p>
                            <p>Homard</p>
                            <p class="casper"></p>
                        </div>
                    </div>
                </section>
            </article>
            <article id="carte" class="center-col">
                <section id="produit">
                    <h2 class="title-section">Les Entrées</h2>
                    <div>
                        <div class="block-title">
                            <h3>Les Produits de notre Epicerie Fine de la Mer…</h3>
                            <p class="casper">L’en-K de caviar osciètre, blinis et crème aigre</p>
                        </div>
                        <div class="type">
                            <p>L’en-K de caviar osciètre, blinis et crème aigre</p>
                            <p class="casper">L’en-K de caviar osciètre, blinis et crème aigre</p>
                            <p>28€</p>
                        </div>
                        <div class="type">
                            <p>«L’ Assiette Nordique», crème de raifort</p>
                            <p class="casper">L’en-K de caviar osciètre, blinis et crème aigre</p>
                            <p>19€</p>
                        </div>
                        <div class="type">
                            <p>Tapas d’Anchois Desclaux à Collioure</p>
                            <p class="casper">L’en-K de caviar osciètre, blinis et crème aigre</p>
                            <p>16€</p>
                        </div>
                        <div class="type">
                            <p>«La Millésimée» 2015 «Mademoiselle Perle»</p>
                            <p class="casper">L’en-K de caviar osciètre, blinis et crème aigre</p>
                            <p>13€</p>
                        </div>
                        <div class="type">
                            <p>Rillettes de rouget barbet au piment d’Espelette</p>
                            <p class="casper">L’en-K de caviar osciètre, blinis et crème aigre</p>
                            <p>13€</p>
                        </div>
                        <div class="type final">
                            <p>Rillettes de dorade, crevettes citron vert et gingembre</p>
                            <p class="casper">L’en-K de caviar osciètre, blinis et crème aigre</p>
                            <p>13€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Les Entrées Froides</h3>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>Salade de homard bleu de Loctudy « cuisson nacré »</p>
                            <p class="casper">L’en-K de caviar osciètre</p>
                            <p>26€</p>
                        </div>
                        <div class="type">
                            <p>Macédoine à la chair de tourteau décortiqué et fines tranches de tomates collections</p>
                            <p class="casper">L’en-K de caviar osciètre</p>
                            <p>17€</p>
                        </div>
                        <div class="type">
                            <p>Compotier de queue de bœuf aux aromates et pickles de légumes du moment</p>
                            <p class="casper">L’en-K de caviar osciètre</p>
                            <p>14€</p>
                        </div>
                        <div class="type">
                            <p>Filets de maquereaux de ligne préparés et marinés aux épices et toasts melba</p>
                            <p class="casper">L’en-K de caviar osciètre</p>
                            <p>16€</p>
                        </div>
                        <div class="type">
                            <p>Saumon bio en carpaccio à l’huile d’olive et citron de Sorrente</p>
                            <p class="casper">L’en-K de caviar osciètre</p>
                            <p>16€</p>
                        </div>
                        <div class="type final">
                            <p>Consommé de petits pois français « rafraîchi » et mozzarella burrata croustillante</p>
                            <p class="casper">L’en-K de caviar osciètre</p>
                            <p>14€</p>
                        </div>
                    </div>
                    <div>
                        <div class="block-title">
                            <h3>Les Entrées Chaudes</h3>
                            <p class="casper"></p>
                        </div>
                        <div class="type">
                            <p>Vol au vent de moules AOP du Mont Saint Michel aux morilles</p>
                            <p class="casper">Vol au vent de moules AOP du Mont Saint Michel aux morilles</p>
                            <p>22€</p>
                        </div>
                        <div class="type">
                            <p>Pissaladière aux oignons doux et filets d’anchois Desclaux à Collioure</p>
                            <p class="casper">Pissaladière aux oignons doux et filets d’anchois Desclaux à Collioure</p>
                            <p>19€</p>
                        </div>
                        <div class="type">
                            <p>Œufs cocotte bio à la crème fraîche d’Isigny, chiffonnade d’Iberico Bellota</p>
                            <p class="casper">Œufs cocotte bio à la crème fraîche d’Isigny, chiffonnade d’Iberico Bellota</p>
                            <p>15€</p>
                        </div>
                        <div class="type">
                            <p>Friture d’éperlans et sauce tartare</p>
                            <p class="casper">Friture d’éperlans et sauce tartare</p>
                            <p>15€</p>
                        </div>
                        <div class="type">
                            <p>6 gros escargots de Bourgogne en persillade</p>
                            <p class='casper'>gros escargots de Bourgogne en persillade</p>
                            <p>12€</p>
                        </div>
                        <div class="type">
                            <p>12 gros escargots de Bourgogne en persillade</p>
                            <p class="casper">gros escargots de Bourgogne en persillade</p>
                            <p>19€</p>
                        </div>
                        <div class="type final">
                            <p>La soupe de poissons de roche de Bretagne, sa rouille et ses croûtons à l’ail</p>
                            <p class="casper">La soupe de poissons de roche de Bretagne, sa rouille et ses croûtons à l’ail</p>
                            <p>16€</p>
                        </div>
                    </div>
                </section>
                <section id="incontournable"></section>
                <section id="fromage"></section>
                <section id="dessert"></section>
                <section id="glace"></section>
            </article>
        </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/basic.js"></script>
    <script src="/js/card.js"></script>
</body>
