<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>La Mascotte</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" media="screen and (max-width: 1024px)" href="/css/main.css" />
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="/css/main.css" />
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="/css/index.css" />
</head>

<body>
    <main>
        <section id="acceuil">
            <div id='home-display' class="overlay">
                <header class="center-col">
                    <nav id="menu-prin" class="center-col">
                        <div>
                            <div id="burger">
                                <span></span>
                            </div>
                        </div>
                        <div id="cont-menu" class="center-col">
                            <ul>
                                <li><a href="/">Accueil</a></li>
                                <li id="resto">
                                    <a href="">La brasserie <i></i></a>
                                    <ul class="OFF">
                                        <li><a href="">Histoire</a></li>
                                        <li><a href="/La_carte">La carte</a></li>
                                    </ul>
                                </li>
                                <li><a href="">L'écaillerie</a></li>
                                <li id="actu">
                                    <a href="">Nos actualitées <i></i></a>
                                    <ul class="OFF">
                                        <li><a href="">événements</a></li>
                                        <li><a href="">La presse</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
                <div id='visit-card' class="center-col">
                    <div>
                        <div class="line-top"></div>
                        <p>Brasserie</p>
                        <div class="line-top"></div>
                    </div>
                    <img src="/img/logo_white.png" alt="Logo la mascotte">
                    <div>
                        <p>01 46 06 28 15</p>
                        <div class="line-bottom"></div>
                        <p>52 Rue des Abbesses, 75018 Paris</p>
                    </div>
                </div>
                <a id="scroll-arrow" class="scroll-arrow"></a>
            </div>
        </section>
        <section id="La_brasserie">
            <div class="overlay">
                <div class="center-col" style="height:100%;">
                    <div>
                        <h2 class="title-section">La Brasserie</h2>
                    </div>
                    <div>
                        <p><span>MASCOTTE </span><span>n. f.</span> est un emprunt tardif au provençal mascoto « envoutement, sortilège, ensorcellement au jeu » (av. 1850), dérivé de masco « sorcière, magicienne », lui-même de l’ancien provençal masca (1396), d’origine préromane (masque)...</p>
                        <a href='/la_brasserie' class="button">Découvrir la Mascotte</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="La_carte">
            <div class="overlay">
                <div class="center-col" style="height:100%;">
                    <div>
                        <h2 class="title-section">La Carte</h2>
                    </div>
                    <div>
                        <p>Hanc regionem praestitutis celebritati diebus invadere parans dux ante edictus per solitudines Aboraeque amnis herbidas ripas, suorum indicio proditus, qui admissi flagitii metu exagitati ad praesidia descivere Romana. absque ullo egressus effectu deinde tabescebat immobilis.</p>
                        <a href='/La_carte' class="button">Découvrir la Carte</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="Contact">
            <div class="overlay">
                <div class="center-col" style="height:100%;">
                    <div>
                        <h2 class="title-section">Contact</h2>
                    </div>
                    <div>
                        <p>52 Rue des Abbesses, 75018 Paris 18e arrondissement</p>
                        <div>
                            <p>01 46 06 28 15</p>
                            <p>Ouvert 7/7 jours de 8h à 23h30</p>
                        </div>
                        <p>Réservation conseillée en particulier les soirs en week-end.</p>
                        <a href='/contact' class="button">Réserver</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/basic.js"></script>
</body>

</html>
