<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>La Mascotte</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" media="screen and (max-width: 1024px)" href="/css/main.css" />
    <link rel="stylesheet" href="/css/story.css">
</head>

<body>
    <header class="center-col">
        <nav id="menu-prin" class="center-col">
            <div class="cont-burger">
                <div id="burger">
                    <span></span>
                </div>
            </div>
            <div id="cont-menu" class="center-col">
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li id="resto">
                        <a>La Brasserie <i></i></a>
                        <ul class="OFF">
                            <li><a href="/L_histoire">- Histoire</a></li>
                            <li><a href="/La_carte">- La carte</a></li>
                        </ul>
                    </li>
                    <li><a href="http://www.la-mascotte-montmartre.com/livraison-fruits-de-mer/">L'écaillerie</a></li>
                    <li><a href="/Contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class='center-col'>
            <h1>Histoire</h1>
            <article>
                <ul class="timeline">
                    <li>
                        <div class="direction-r">
                            <div class="flag-wrapper">
                                <span class="flag">1889</span>
                            </div>
                            <div class="desc">
                                <p>La création de « La Mascotte » semble remonter à 1889 à l’époque où son grand comptoir occupait tout le rez de chaussée d’un hôtel de deux étages, « Le Pompéa ». Son propriétaire, le Père Teissier, le fit surélever de trois nouveaux étages, qu’il baptisa « Hôtel Antinéa », pour y établir chacun de ses deux fils.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Item 2 -->
                    <li>
                        <div class="direction-l">
                            <div class="flag-wrapper">
                                <span class="flag">1930</span>
                            </div>
                            <div class="desc">
                                <p>Quelque peu hôtel de rendez-vous comme son nom l’indique, « Le Pompéa » hébergea dans les années 1930 Edith Piaf et son pianiste, pendant que Messieurs Laurent et Méria tenaient le café et ses quatre billards.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Item 3 -->
                    <li>
                        <div class="direction-r">
                            <div class="flag-wrapper">
                                <span class="flag">1935</span>
                                <span class="time-wrapper"><span class="time">La mascotte en 1935</span></span>
                            </div>
                            <div class="desc">
                                <img src="/img/1935.jpg" alt="mascotte 1935">
                            </div>
                        </div>
                    </li>


                    <!-- Item 4 -->
                    <li>
                        <div class="direction-l">
                            <div class="flag-wrapper">
                                <span class="flag">1965</span>
                            </div>
                            <div class="desc">
                                <p>Monsieur Laurent, originaire de Fleurie, y servait le vin nouveau à sa clientèle de commerçants du quartier et d’artistes locaux : Toppa, Lecomte, Gen Paul… Puis la famille Conte lui succéda jusqu’en septembre 1965 où Maurice et Irène Campion s’y établirent.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Item 5 -->
                    <li>
                        <div class="direction-r">
                            <div class="flag-wrapper">
                                <span class="flag">2000</span>
                                <span class="time-wrapper"><span class="time">La mascotte en 2000</span></span>
                            </div>
                            <div class="desc">
                                <img src="/img/2000.jpg" alt="mascotte 2000">
                            </div>
                        </div>
                    </li>

                    <!-- Item 6 -->
                    <li>
                        <div class="direction-l">
                            <div class="flag-wrapper">
                                <span class="flag">2006</span>
                                <span class="time-wrapper"><span class="time">La mascotte en 2006</span></span>
                            </div>
                            <div class="desc">
                                <img src="/img/2006.jpg" alt="mascotte 2006">
                            </div>
                        </div>
                    </li>

                    <!-- Item 7 -->
                    <li>
                        <div class="direction-r">
                            <div class="flag-wrapper">
                                <span class="flag">Ajourd'hui</span>
                            </div>
                            <div class="desc">
                                <p>C'est aujourd'hui leur fils Thierry qui perpétue la tradition Montmartro-Aveyronnaise.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </article>
        </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="/js/basic.js"></script>-->
    <script src="/js/story.js"></script>
</body>


</html>
