#burger span,
#burger span:before,
#burger span:after {
    background: black;
}

body>header {
    display: flex;
    flex-direction: column;
    height: 50px;
}

nav#menu-prin>div~div>ul li a {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

i {
    color: black;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
}

main {
    margin-top: 80px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Dosis', sans-serif;
}

section header {
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: solid black 2px;
}

#card-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#card-menu li p {
    color: black;
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
}

#card-menu li:not(:first-child) p {
    color: #95989A;
}

#card-menu li p:hover {
    color: black;
}

article#ecaillerie,
article#carte,
article#menu {
    margin-top: 80px;
}

article section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-section {
    font-size: 30px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: solid black 2px;
}

article>section>h2~div {
    width: 80%;
}

.block-title {
    display: flex;
    justify-content: space-between;
    color: #40C9C5;
    border-bottom: solid #40C9C5 1px;
    margin-bottom: 20px;
}

.block-title h3,
.block-title p {
    font-weight: 400;
    font-size: 20px;
}

.localisation {
    color: black;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
}

.type {
    display: flex;
    justify-content: space-between;
    color: slategrey;
    margin-bottom: 20px;
}

.type p {
    font-size: 15px;
}

.final {
    margin-bottom: 40px;
}

.casper {
    visibility: hidden;
}

#carte {
    display: none;
}

#menu {
    display: none;
}
