#burger span,
#burger span:before,
#burger span:after {
    background: black;
}

#burger.active span:before,
#burger.active span:after {
    background: white;
}

body>header {
    display: flex;
    flex-direction: column;
    height: 50px;
}

nav#menu-prin>div~div>ul li a {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

i {
    color: black;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
}

main {
    margin-top: 80px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Dosis', sans-serif;
}

section header {
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: solid black 2px;
}

#card-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#card-menu li p {
    color: black;
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
}

#card-menu li:not(:first-child) p {
    color: #95989A;
}

#card-menu li p:hover {
    color: black;
}

article#ecaillerie,
article#carte,
article#menu,
article#boisson {
    margin-top: 80px;
}

article section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-section {
    font-size: 30px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: solid black 2px;
}

article>section>h2~div {
    width: 100%;
}

.block-title {
    display: flex;
    justify-content: space-between;
    color: #40C9C5;
    border-bottom: solid #40C9C5 1px;
    margin-bottom: 20px;
}

.block-title h3,
.block-title p {
    font-weight: 400;
    font-size: 20px;
}

.localisation {
    color: black;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
}

.type {
    display: flex;
    justify-content: space-between;
    color: slategrey;
    margin-bottom: 20px;
}

.type p {
    font-size: 15px;
}

.type2 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.type2 p {
    color: slategrey;
    font-size: 15px;
}

.type2 p:not(:first-child) {
    margin-left: 80px;
}

.final {
    margin-bottom: 40px;
}

.casper {
    visibility: hidden;
}

.drink-size {
    display: flex;
    justify-content: flex-start;
}

.drink-size p:not(:first-child) {
    margin-left: 65px;
}

.drink-size2 {
    display: flex;
    justify-content: flex-end;
}

.drink-size2 p:not(:first-child) {
    margin-left: 70px;
}

.drink-size2 p:nth-child(2) {
    margin-left: 80px;
}

.drink-size2 p:last-child {
    margin-left: 25px;
}

#carte {
    display: none;
}

#menu {
    display: none;
}

#boisson {
    display: none;
}

@media screen and (max-width: 768px) {
    article>section>h2~div {
        width: 90%;
    }
    .drink-size p:not(:first-child) {
        margin-left: 15px;
    }
    .drink-size2 p:not(:first-child) {
        margin-left: 20px;
    }
    .type2 p:not(:first-child) {
        margin-left: 30px;
    }
    .type2 p:nth-child(2) {
        margin-left: 20px;
    }
}
