    body {
        background: url('/img/banc.jpg') center no-repeat;
        background-size: cover;
        font-family: 'Dosis', sans-serif;
    }
    
    .overlay {
        width: 100%;
        background: rgba(0, 0, 0, 0.65);
    }
    
    body>div>header {
        display: flex;
        flex-direction: column;
        height: 50px;
    }
    
    #contact {
        margin-top: 80px;
        width: inherit;
        height: 45vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #contact>div {
        width: 90%;
    }
    
    .title-inf {
        color: #40c9c5;
        border-bottom: solid #40c9c5 1px;
        font-size: 22px;
    }
    
    a.inf {
        text-decoration: none;
    }
    
    .inf {
        margin: 10px 0;
        color: white;
        font-size: 20px;
    }
    
    #reserver {
        margin-top: 40px;
        width: inherit;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h1.title-section {
        color: white;
        font-size: 30px;
        margin-bottom: 40px;
        padding-bottom: 10px;
        border-bottom: solid white 2px;
    }
    
    h2.title-section {
        color: white;
        font-size: 30px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: solid white 2px;
    }
    
    .sub-title {
        color: white;
        font-size: 15px;
        margin-bottom: 40px;
    }
    
    form {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    label {
        color: #40c9c5;
        border-bottom: solid #40c9c5 2px;
    }
    
    input[type=text] {
        background-color: transparent;
        border: none;
        border-bottom: solid white 2px;
        color: white;
    }
    
    input[type=number] {
        background-color: transparent;
        border: none;
        border-bottom: solid white 2px;
        color: white;
    }
    
    input[type=radio] {
        color: #40c9c5;
    }
    
    input[type=submit] {
        color: white;
        background-color: #40c9c5;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 40px 0 20px 0;
    }
    
    .lab-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .lab-section:not(:first-child) {
        margin-top: 40px;
    }
    
    .ord-lab {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    
    .ord-lab input[type=text] {
        margin-top: 20px;
    }
    
    .ord-lab2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px;
        width: 100%;
    }
    
    .ord-lab2 label {
        width: 40%;
    }
    
    .ord-lab2 input[type=number] {
        width: 40%;
        margin-top: 20px;
    }
    
    @media screen and (max-width: 1024px) {
        #contact {
            height: 100vh;
        }
        #reserver {
            margin-top: 200px;
            height: auto;
        }
    }
